.subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 31px;
    line-height: 1.4;
    letter-spacing: 1.15px;
}
@media screen and (max-width: 767px) {
    .subtitle { 
      font-size: 22px;
    }
  }