.navigation__links {
    display: flex;
    gap: 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .navigation__links {
        gap: 15px;
    }
}