.people {
    padding: 140px 70px 110px;
}
@media screen and (max-width: 1023px) {
    .people { 
        padding-left: 40px;
    }
}
@media screen and (max-width: 767px) {
    .people { 
        padding: 40px 15px;
    }
}