.people__quotes {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
@media screen and (max-width: 767px) {
    .people__quotes { 
        justify-content: center;
        gap: 50px;
    }
}