.footer {
    min-height: 620px;
    background-color: #fecda7;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1023px) {
    .footer {
        min-height: 400px;
    }
}
@media screen and (max-width: 767px) {
    .footer {
        min-height: 200px;
    }
}